
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}


header {
    background: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    background: hwb(204 0% 0%);
    color: #333;
    text-align: center;
    padding: 2rem 1rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 0;
}

.about-us {
    padding: 2rem 1rem;
    background: #fff;
    text-align: center;
}

.about-us h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
}


.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem;
    background: #eee;
}

.box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.box h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.box p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.service-btn {
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.service-btn:hover {
    background: #e6b800;
}
